server:
  http_listen_port: 3200
distributor:
  receivers:
    otlp:
      protocols:
        grpc:
          endpoint: 0.0.0.0:4318
storage:
  trace:
    backend: s3 # ★ S3 バックエンド
    wal:
      path: /var/tempo/wal # ★ WAL(バッファ)はローカル
    s3:
      endpoint: http://rclone-s3-gateway:9000
      bucket: tempo-bucket
      # access_key と secret_key は docker-compose の command で指定
      insecure: true
      force_path_style: true
ingester:
  lifecycler:
    ring:
      replication_factor: 1
      kvstore:
        store: memberlist
compactor:
  compaction:
    block_retention: 14d
memberlist:
  bind_port: 7946
  join_members:
    - tempo