server:
  http_listen_port: 3200
distributor:
  receivers:
    otlp:
      protocols:
        grpc:
          endpoint: 0.0.0.0:4318
storage:
  trace:
    backend: local
    local:
      path: /var/tempo # 名前付きボリュームのマウント先
ingester:
  lifecycler:
    ring:
      replication_factor: 1
      kvstore:
        store: memberlist
compactor:
  compaction:
    block_retention: 14d # 1h から 14d に延長
memberlist:
  bind_port: 7946
  join_members:
    - tempo